.seats {
  text-align: center;
  display: inline-block;
  max-width: 225px;
}

.info {
  display: flex;
  justify-content: center;
}

.seatFree {
  background-color: #59c562;
  margin: 2px;
}

.seatTaken {
  background-color: rgb(209, 90, 90);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  list-style: none;
  margin: 2px;
  padding: 6px 8px; 
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.seatFree {
  background-color: rgb(65, 207, 89);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 10px;
  list-style: none;
  margin: 2px;
  padding: 6px 8px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}